---
import { nav, siteInfo } from "@root/src/config";
import { Icon } from "astro-icon";
---
<div
    id="mobile-mask"
    class="md:hidden fixed left-0 right-0 bottom-0 top-0 bg-black/30 z-[99] pointer-events-none opacity-0 transition-opacity duration-300"
>
</div>
<div
    id="mobile-menu"
    class="md:hidden fixed right-0 top-0 bottom-0 z-[99] w-[60%] bg-white transition-transform duration-300 translate-x-full"
>
    <div class="px-[8px] py-[12px] flex flex-col h-full">
        <div class="flex items-center border-b pb-[8px]">
            <img
                src={siteInfo.avatar}
                alt={siteInfo.siteName}
                class="h-10 w-10 rounded-full"
            />
            <span class="ml-3 group-hover:underline group-hover:decoration-wavy"
                >{siteInfo.siteName}
            </span>
        </div>
        <ul class="mt-[15px] flex-1 h-0 overflow-auto">
            {
                nav.map((item, index) => (
                    <li>
                        <a
                            href={item.slug}
                            class="flex items-center px-[15px] text-[14px] leading-[1] h-[45px] active:bg-black/4."
                        >
                            <span>{item.title}</span>
                            {item.icon && (
                                <Icon
                                    class="h-5 w-5 ml-[4px] text-[0]"
                                    name={item.icon}
                                />
                            )}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
<style lang="scss">
    .show {
        transform: translateX(0);
    }
</style>
<script lang="ts">
    const mobileMask = document.getElementById("mobile-mask");
    const meunButton = document.getElementById("meunButton");
    const mobileMenu = document.getElementById("mobile-menu");
    meunButton.addEventListener("click", () => {
        let isHave = mobileMenu.classList.contains("show");
        if (!isHave) {
            mobileMenu.classList.add("show");
            mobileMask.style.opacity = 1;
            mobileMask.style.pointerEvents = "auto";
            document.body.style.overflow = "hidden";
        }
    });
    mobileMask.addEventListener("click", () => {
        let isHave = mobileMenu.classList.contains("show");
        if (isHave) {
            mobileMenu.classList.remove("show");
            mobileMask.style.opacity = 0;
            mobileMask.style.pointerEvents = "none";
            document.body.style.overflow = "auto";
        }
    });
</script>
